body {
  padding-top: 140px;
  font-family: Arial, sans-serif;
  background-image: url("image/background.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  
 
}
  .dashboard {
    max-width: 800px;
    margin: auto;
    background:white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(1, 89, 94, 0.7);
  }
  
  .search-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  
  .search-section input,
  .search-section select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  #searchInput{

    font-size: 10px;
  }
  
  .search-section button {
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .search-section button:hover {
    background-color: #0056b3;
  }

  #resetBtn {
    padding: 10px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #resetBtn:hover {
    background-color: #bbb;
  }
  
  
  .school-list {
    display: grid;
    gap: 16px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 8px;
    font-size: 20px;
    
  }
  
  .school-card {
    padding: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(1, 55, 60, 0.6);
  }
  .school-card p {
    margin: 10px 0;
  }
  .school-card h3 {
    margin-bottom: 8px;
  }

  /* .school-card:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .school-card:nth-child(even) {
    background-color: #e6f0ff;
  }
   */

   .visit-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .visit-button:hover {
    background-color: #0056b3;
  }
  
    